.container{
  display: flex;
  justify-content: center;
}

body{
 background-image: url('background.jpg');
 background-size: cover;
}

h1, h2{
  color: white;
  font-family: 'Courgette', cursive;
  font-weight: lighter;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}

img{
  border-radius: 50%;
}
.input{
  padding: 10px;
  margin: 5px;
  font-family: 'Courgette', cursive;
  width: 30%;
}

.crossed{
  text-decoration: line-through 2px #9B1219;
  background-color: rgb(197,124,127);
}

ul, li{
 color: white;
 font-family: 'Courgette', cursive;
 list-style-type: none;
 padding: 10px;
 margin: 0;
}

.btn{
  border: #9B1219;
  border-radius: 10%;
  margin:5px;
  padding:20px;
  color: #9B1219;
  font-weight: bold;
 font-family: 'Courgette', cursive;
}